.logo{
-fx-text-fill: green;
-fx-background-radius: 50.0;
-fx-background-color: white;
-fx-font-family: "Dokdo";
-fx-font-size: 50.0;
}

.mytitle{
    -fx-font-family: "Dokdo";
    /*-fx-font-family: "Shadows Into Light";*/
    -fx-font-size: 50.0;
    
}

.pane1{-fx-background-image:url('img/1.jpg');
-fx-background-size:cover, auto;
}
.pane2{-fx-background-image:url('img/2.jpg');
-fx-background-size:cover, auto;
}
.pane3{-fx-background-image:url('img/3.jpg');
-fx-background-size:cover, auto;
}
.pane4{-fx-background-image:url('img/4.jpg');
-fx-background-size:cover, auto;
}

